
body {
    font-family: Arial, sans-serif;
    background-image: url('https://e1.pxfuel.com/desktop-wallpaper/931/255/desktop-wallpaper-pulsar-220-login-page.jpg');
    background-size: cover; /* Make the background image cover the entire screen */
    background-position:center; /* Center the background image */
    background-color: #e9ecef;
    margin: 1rem;
    padding: 0;
}
.head{
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
    max-width: 30%;
    margin: auto;
    margin-top: 10%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.148);
    border-radius: 10px;
    box-shadow: 4px 14px 10px rgba(0, 0, 0, 0.1);
}

form {
  /* width: 100%; */
    display: flex;
    padding: 1rem;
    flex-direction: column;
    padding: 2rem;
    
}

label, input {
    margin-bottom: 10px;
    font-weight: bold;
}


input {
  background-color: #f5f5f55b;
    padding: 8px;
    border: 1px solid #ced4da5c;
    border-radius: 4px;
    font-size: 14px;
}

button {
  margin-top: 1rem;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    margin-left: 6rem;
    margin-right: 6rem;
    border-radius: 5px;
    cursor: pointer;
}


button:hover {
    background-color: #0056b3;
}