/* sForm.css - Styles for Service Booking Form and Modal */

body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f9; */
    background-image: url('https://img.freepik.com/free-vector/prickly-juniper-branch-beige-gray-minimal-background_53876-113047.jpg?w=1060&t=st=1728235583~exp=1728236183~hmac=127106db6b02bc02b5cb3d4c902e4eac31621b5a0242f39c628033c11ecb7e67');
    background-position: center;
    background-size: cover;
    
    padding: 1.5rem;
}




form {
    max-width: 500px;
    margin: 20px auto;
    
    padding: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #b9828246;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, select, input, option {
    display: block;
    width: 95%;
    margin-bottom: 8px;
    padding: 8px;
    font-size: 14px;
}

input, select {
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 100px;
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
